<div class="admin-dashboard-container">
    <h2>Administrator Dashboard</h2>
  
    <nav>
      <ul>
        <li><a routerLink="/admin/posts">Lista objava svih korisnika</a></li>
        <li><a routerLink="/admin/trends">Prikaz trendova na mreži</a></li>
        <li><a routerLink="/admin/analytics">Analitika aplikacije</a></li>
        <li><a routerLink="/admin/users">Prikaz profila svih korisnika</a></li>
      </ul>
    </nav>
  
    <p>Dobrodošli na admin panel. Odaberite opciju iz menija.</p>
  </div>